#left{
	width:300px;
	height:1000px;
	folat:left;
	border:0px solid red;
}
.content{
	width:1000px;
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	border:0px solid red;
	
}

#center{
	width:392px;
	height:1000px;
	float:left;
	border:0px solid red;
}
#right{
	width:300px;
	height:1000px;
	float:left;
	border:0px solid red;
}
#table{
	margin-left:20px;
	margin-top:15px;
	
}