body{
	background-color:lightgrey;

}

div{
   width:950px;
   margin-top:0px;
   font-size:15px; 

}
ul{
    margin:0 auto;
	mragin-top:0px;
    float:left;
    background:linear-gradient(#b22222,#8b0000);
	background:-moz-linear-gradient(#b22222,#8b0000);
	background:-webkit-linear-gradient(#b22222,#8b0000);
    width:100%;

}
ul li{
      list-style:none;
	  margin:0;
	  padding:0;
	  float:left;
	  display:inline;
	  position:relative;
}
ul li a{
        border-right:1px dotted #fff;
		padding:13px 25px;
		color:#fff;
		text-decoration:none;
		display:inline-block;
		background:linear-gradient(#b22222,#8b0000);
	    background:-moz-linear-gradient(#b22222,#8b0000);
	    background:-webkit-linear-gradient(#b22222,#8b0000);
}
ul li a:hover{
           background:linear-gradient(#006400,#228b22);
		   background:-moz-linear-gradient(#006400,#228b22);
		   background:-webkit-linear-gradient(#006400,#228b22);
}
ul li:hover> ul{
              visibility:visible;
}
ul ul {
      list-style:none;
	  margin:0;
	  padding:0;
	  visibility:hidden;
	  position:absolute;
	  width:180px;
	  border-top:1px solid #fff;
}
ul ul li a{
          padding:9px 15px;
		  color:#fff;
		  text-decoration:none;
		  display:line-block;
		  float:left;
		  width:150px;
		  border-bottom:1px dotted #fff;
}
ul ul li ul{
          top:0;
          left:181px;
}



#header{
    width:1000px;
	height:200px;
	background-color:#1ccca3;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
}
.font{
	color:oragne;
	text-transform:uppercase;
	text-align:center;
	text-shadow:10px 10px 10px;
}
#content{
	width:1000px;
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	border:0px solid red;
}
#footer{
	width:1000px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	background-color:#1ccca3;
}
#left{
	width:300px;
	height:1000px;
	float:left;
	border:0px solid red;
	
}
#center{
	width:392px;
	height:1000px;
	float:left;
	border:0px solid red;
	background-color:white;
	
}
#right{
	width:300px;
	height:1000px;
	float:left;
	border:0px solid red;
	
}
#photo{
	margin-left:0px;
}
#font{
	color:white;
	text-align:center;
}
#tabale{
	margin-left:10px;
}
